.access-bg {
    background-image: url(../../assets/smallbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width:768px) {

    .access-bg {
        background-image: url(../../assets/lines.png);
    }
}