.chart canvas {
    width: 300px !important;
    height: 300px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
};

.bar canvas {
    width:300px !important;
    height: 500px !important;
}

@media screen and (min-width:768px) {
    .bar canvas {
        width:initial;
        height: 300px !important;
    }
}