.header {
    background-image: url(../../assets/small.png);
    background-position: center;
    background-repeat: no-repeat;
    
}

@media screen and (min-width:768px) {
    .header {
        background-color:#084116;
        background-origin: border-box;
        background-image: url(../../assets/headerBg.png);
        background-size: 98%;
    }

    .access-bg {
        background-image: url(../../assets/lines.png);
    }
}